.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 100%; /* aspect ratio */
    vertical-align: top;
    overflow: hidden;
    text-align: center;
  }
  .svg-content-responsive {
    top: 10px;
    margin-left: auto;
    margin-right: auto;
    display:block;
  }
  svg .rect {
    fill: white;
    stroke: steelblue;
    display:block;
    padding-left: 100px;
    margin-right: auto;
    stroke-width: 1px;
  }

  .click-circle-blue {
    fill: steelblue;
}
.click-circle-red {
    fill: red;
}
.big-circle {
    fill: white;
    stroke: black;
    stroke-width: 1px;
}